body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(255, 184, 194, 0.8);
}

header {
  grid-column-start: 2;
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

main {
  grid-column-start: 2;
}

footer {
  grid-column-start: 2;
  margin-bottom: 3vw;
}

@media screen and (width: 768px) {
  body {
    background-color: cornflowerblue;
  }
}
